body {
    background-color: var(--document-bg);
    color: var(--light-clr);
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

.skeleton-card {
    width: 100%;
    height: 100vh;
    background-color: var(--document-bg);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 12;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.skeleton-card.an {
    display: flex;
}

.div-skeleton-card-decor {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 500px;
    margin: 15px;
    background-color: var(--accent-2-clr);
    border-radius: var(--main-border-radius);
    padding: 15px;
    position: relative;
    overflow: hidden;
}

.div-skeleton-card-decor::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    background: linear-gradient(90deg, #612eee00, var(--accent-2-clr), #612eee00);
    animation: slide 1s linear infinite;
}

@keyframes slide {
    from {
        transform: translateX(-100px);
    }
    to {
        transform: translateX(500px);
    }
}

.skeleton-img {
    width: 100%;
    max-width: 500px;
    height: 400px;
    background-color: var(--accent-clr);
    border-radius: var(--main-border-radius);
}

.skeleton-title {
    width: 100%;
    max-width: 400px;
    height: 25px;
    background-color: var(--accent-clr);
    border-radius: var(--main-border-radius);
}

.skeleton-title:nth-of-type(3) {
    max-width: 200px;
}

.skeleton-title:nth-of-type(4) {
    max-width: 400px;
}

.loader-text {
    font-size: var(--font-size-titles-h2);
}

.header {
    width: 100%;
    position: sticky;
    top: -125px;
    z-index: 11;
}

.header-container {
    display: grid;
    grid-template-areas: "part-1"
                         "part-2";
    grid-template-rows: 100px 80px;
    row-gap: 25px;
}

.first-part-of-header {
    grid-area: part-1;
    width: 100%;
    background-color: var(--light-clr);
    border-radius: 0 0 var(--extra-border-radius) var(--extra-border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.second-part-of-header {
    grid-area: part-2;
    width: 100%;
    background-color: var(--light-clr);
    border-radius: 0;
    display: flex;
    align-items: center;
    padding: 20px;
}

.logo-header {
    transition: filter 0.9s ease;
}

.logo-header:hover {
    filter: brightness(12);
}

.div-nav-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-header a {
    color: var(--document-bg);
    font-size: var(--font-size-header);
    font-weight: var(--marked-bold);
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-header a:hover {
    color: var(--accent-2-clr);
}

.div-search-movies {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-input {
    display: flex;
}

.search-movies {
    height: 45px;
    width: 190px;
    background-color: var(--document-bg);
    color: var(--light-clr);
    font-size: var(--font-size-input);
    border-radius: var(--main-border-radius) 0 0 var(--main-border-radius);
    padding: 0 10px;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    display: none;
}

input[type="search"]::-moz-search-cancel-button {
    display: none;
}

.search-movies::placeholder {
    color: var(--light-clr);
    font-weight: var(--marked-bold);
}

.img-search {
    position: relative;
    background-color: var(--document-bg);
    border-radius: 0 var(--main-border-radius) var(--main-border-radius) 0;
    height: 45px;
    display: flex;
    align-items: center;
    padding: 0 8px;
}

.img-search::before {
    content: "";
    position: absolute;
    width: 2px;
    height: calc(100% - 12px);
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: var(--light-clr);
}

.img-search img {
    width: 30px;
}

.div-list-of-suggested {
    display: none;
}

.div-list-of-suggested.shown {
    display: flex;
    position: sticky;
    top: 80px;
    z-index: 12;
}

.list-of-suggested {
    width: 100%;
    height: 400px;
    min-width: none;
    max-width: 800px;
    background-color: var(--accent-2-clr-trs);
    border: 3px solid var(--accent-clr);
    backdrop-filter: blur(20px);
    border-radius: var(--main-border-radius);
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    padding: 10px;
    overflow-y: auto;
}

.div-list-of-suggested::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: var(--accent-clr);
    left: 50%;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.item-list-suggested {
    display: flex;
    padding: 5px;
    border-bottom: 3px solid var(--accent-clr);
    color: var(--light-clr);
    text-decoration: none;
    transition: color 0.3s ease;
}

.item-list-suggested:hover {
    color: var(--accent-clr);
}

.item-list-suggested img {
    width: 100%;
    min-width: none;
    max-width: 90px;
    border-radius: var(--main-border-radius);
}

.item-list-suggested-txt {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.div-if-result-not-found {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.if-result-not-found {
    background-color: var(--accent-clr-trs);
    color: var(--light-clr);
    padding: 10px;
    border-radius: var(--main-border-radius);
    font-size: var(--font-size-titles-h2);
}

.app {
    width: 100%;
}

.recs-slider {
    width: 100%;
    height: 500px;
    background-image: url(../images/bg-recs/bg-recs.webp);
    background-size: cover;
    position: relative;
}

.recs-slider::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, var(--accent-2-clr), var(--accent-clr));
    z-index: -1;
}

.container-recs {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-random-recom {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.random-recom {
    width: 600px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.img-random-recom {
    max-width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    border-radius: var(--main-border-radius);
    opacity: 1;
    object-fit: cover;
    animation: imgRecsTop2 0.9s ease 0.6s 1 forwards;
}

.img-random-recom.an {
    animation: imgRecsTop 0.9s ease 1 forwards;
}

.random-recom figcaption {
    text-align: center;
    display: flex;
    flex-direction: column;
    color: var(--light-clr);
}

.title-of-recom {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1;
    line-clamp: 1;
   -webkit-box-orient: vertical;
    opacity: 1;
    font-size: var(--font-size-titles-h2);
    animation: titleRecsTop2 0.9s ease 1 0.3s forwards;
}

.date-of-recom {
    opacity: 0;
    transform: translateY(20px);
    font-size: var(--font-size-titles-h3);
    animation: dateRecsTop2 0.9s ease 1 forwards;
}

.title-of-recom.an {
    opacity: 0;
    animation: titleRecsTop 0.9s ease 0.3s 1 forwards;
}

.date-of-recom.an {
    animation: dateRecsTop 0.9s ease 0.6s 1 forwards;
}

@keyframes imgRecsTop {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes imgRecsTop2 {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(20px);
    }
}

@keyframes titleRecsTop {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes titleRecsTop2 {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(20px);
    }
}

@keyframes dateRecsTop {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes dateRecsTop2 {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(20px);
    }
}

/* recs list */

.list-movies {
    width: 100%;
    max-width: 1200px;
    margin: 30px auto;
}

.container-list-movies {
    width: 100%;
    height: auto;
}

.cards-of-recs-list {
    width: 100%;
    margin: 30px 0;
    padding: 15px;
    display: grid;
    place-items: center;
    grid-template-columns: minmax(300px, 1fr);
    gap: 30px;
}

.div-title-recomindations-list {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 90px;
    z-index: 11;
}

.title-recomindations-list {
    background-color: var(--accent-clr);
    padding: 5px;
    border-radius: var(--main-border-radius);
    font-size: var(--font-size-titles-h2);
}

.card-recom {
    background-color: var(--accent-2-clr);
    width: 100%;
    min-width: 300px;
    max-width: 400px;
    padding: 15px;
    border-radius: var(--main-border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    position: relative;
}

.card-recom::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, var(--accent-2-clr), var(--accent-clr));
    border-radius: var(--main-border-radius);
    filter: blur(10px);
    z-index: -1;
    transition: filter 0.9s ease;
}

.card-recom:hover::before {
    filter: blur(50px);
}

.card-img-of-recom {
    width: 200px;
    border-radius: var(--main-border-radius);
}

.card-title-of-recom, .card-date-of-recom {
    color: var(--light-clr);
    margin: 5px 0;
    text-align: center;
}

.card-title-of-recom {
    font-size: var(--font-size-titles-h2);
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1;
    line-clamp: 1;
   -webkit-box-orient: vertical;
}

.card-date-of-recom {
    font-size: var(--font-size-titles-h3);
}

.percentage-of-rate-of-recom {
    color: var(--light-clr);
}

.arrows-for-pages {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.arrow-page-left, .arrow-page-right {
    background-color: var(--accent-clr);
    padding: 5px;
    border-radius: var(--main-border-radius);
    width: 70px;
    transition: background-color 0.3s ease;
}

.arrow-page-left:hover, .arrow-page-right:hover {
    background-color: var(--accent-clr-trs);
    cursor: pointer;
}

.arrow-page-left {
    transform: rotate(-90deg);
}

.arrow-page-right {
    transform: rotate(90deg);
}

.toUp {
    position: fixed;
    right: 18px;
    bottom: 95px;
    padding: 10px;
    background-color: var(--accent-clr);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.9s ease, background-color 0.3s ease;
}

.toUp img {
    width: 35px;
    height: auto;
}

.toUp:hover {
    background-color: var(--accent-clr-trs);
}

.div-list-of-wish {
    position: fixed;
    right: 15px;
    bottom: 15px;
}

.btn-list-of-wish {
    width: 60px;
    height: 60px;
    background: linear-gradient(135deg, var(--accent-2-clr), var(--accent-clr));
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.btn-list-of-wish::before {
    content: "";
    position: absolute;
    width: calc(100% + 30px);
    height: calc(100% + 30px);
    background: linear-gradient(135deg, var(--accent-2-clr), var(--accent-clr));
    border-radius: 50%;
    filter: blur(40px);
    z-index: -1;
}

.btn-list-of-wish img {
    width: 40px;
    height: auto;
}

.btn-list-of-wish:hover {
    transform: scale(1.15);
}

.container-details {
    width: 100%;
    display: flex;
    justify-content: center;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: opacity(1);
    position: relative;
}

.container-details::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, var(--accent-2-clr), var(--accent-clr));
    opacity: 0.8;
    z-index: -1;
}

.movie-details {
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.img-of-movie {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: var(--main-border-radius);
}

.movie-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.title-of-movie-desc {
    font-size: var(--font-size-titles-h2);
}

.div-bsc-info-movie-desc {
    display: flex;
    gap: 10px;
}

.div-bsc-info-movie-desc span {
    background-color: var(--accent-clr-trs);
    padding: 5px;
    border-radius: var(--main-border-radius);
    font-weight: bold;
    font-size: var(--font-size-details-2-page);
}

.genre-of-movie-desc {
    display: inline;
    background: linear-gradient(135deg, var(--accent-2-clr-trs), var(--accent-clr-trs));
    padding: 5px;
    border-radius: var(--main-border-radius);
    font-size: var(--font-size-details-2-page);
}

.div-rate-of-movie-desc {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.div-bar-and-perc {
    width: 100%;
    min-width: 150px;
    max-width: 250px;
    height: 40px;
    background-color: var(--document-bg);
    border-radius: var(--extra-border-radius);
    position: relative;
    overflow: hidden;
}

.visual-rate-of-recom, .card-visual-rate-of-recom {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    transition: transform 0.8s ease, background-color 0.8s ease;
}

.percentage-of-rate-of-recom {
    display: flex;
    align-items: center;
    font-size: var(--font-size-details-page);
    font-weight: bold;
    text-align: center;
}

.title-review-details {
    font-size: var(--font-size-titles-h3);
    margin-bottom: 15px;
}

.review-details {
    max-width: 500px;
    font-size: var(--font-size-p);
}

.div-save-movie {
    display: flex;
    gap: 15px;
}

.add-favorite, .add-wishlist {
    background: linear-gradient(135deg, var(--accent-2-clr), var(--accent-clr));
    width: 60px;
    height: 60px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 40px;
}

.div-watch-trailer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 350px;
}

.trailer {
    width: 100%;
    border-radius: var(--main-border-radius);
}

/* wishlist */

.title-wishlist, .title-favorite {
    background-color: var(--accent-clr);
    font-size: var(--font-size-titles-h3);
    border-radius: var(--main-border-radius);
    padding: 5px;
}

.wishlist {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 30px 0;
    padding: 15px;
}

.card-movie-favorite, .card-movie-wishlist {
    display: flex;
    margin: 0;
}

.movie-favorite, .movie-wishlist {
    width: 100%;
    display: flex;
    margin: 15px 0;
    flex-direction: column;
    gap: 15px;
}

.div-decs-favorite-wishlist, .div-decs-wishlist-wishlist {
    padding: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-favorite, .card-wishlist {
    width: 100%;
    min-width: 300px;
    max-width: 500px;
    background-color: var(--accent-2-clr);
    border-radius: var(--main-border-radius);
    color: var(--light-clr);
    text-decoration: none;
    transition: transform 0.3s ease;
}

.card-favorite:hover, .card-wishlist:hover {
    transform: scale(1.05);
}

.title-of-movie-favorite, .title-of-movie-wishlist {
    font-size: var(--font-size-titles-h2);
    margin-bottom: 10px;
}

.date-of-movie-favorite, .date-of-movie-wishlist {
    font-size: var(--font-size-titles-h3);
}

.img-preview-favorite, .img-preview-wishlist {
    width: 100%;
    max-width: 100px;
    height: 100%;
    border-radius: var(--main-border-radius);
}

.del-card {
    display: flex;
    justify-content: center;
}

.btn-del-card {
    background-color: var(--accent-clr);
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.btn-del-card:hover {
    transform: scale(1.15);
    cursor: pointer;
}

.about-API {
    max-width: 1200px;
    margin: 30px auto;
    padding: 15px;
}

.about-API article {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.tmdb {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.p-about-api, .p-about-developer {
    font-size: var(--font-size-p);
    text-align: center;
}

.p-about-api {
    margin-bottom: 30px;
}

.p-about-api a {
    font-weight: var(--marked-bold);
    background: -webkit-linear-gradient(0deg, #90cea1, #01b4e4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.p-about-developer {
    font-weight: var(--marked-bold);
    position: relative;
}

.p-about-developer::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    background: linear-gradient(135deg, var(--accent-2-clr), var(--accent-clr));
    width: 100%;
    height: 3px;
}

.socials-media {
    position: relative;
    margin: 20px;
    display: inline-flex;
    gap: 15px;
}

.socials-media img {
    width: 80px;
    height: 80px;
}

.socials-media a {
    transition: transform 0.3s ease;
}

.socials-media a:hover {
    transform: scale(1.15);
}

.div-error {
    width: 100%;
  min-width: none;
  max-width: 500px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%, -250px);
  z-index: 20;
  padding: 10px;
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.div-error.active {
    opacity: 1;
    transform: translate(-50%, 0);
}

.error {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 15px;
  display: flex;
  align-items: center;
  background: var(--accent-clr);
  border: 3px solid var(--accent-2-clr);
  border-radius: var(--main-border-radius);
}

.error__icon {
  width: 20px;
  height: 20px;
  transform: translateY(-2px);
  margin-right: 8px;
}

.error__icon path {
  fill: #fff;
}

.error__title {
  font-weight: 500;
  font-size: var(--font-size-p);
  color: #fff;
}

@media (min-width: 768px) {
    .cards-of-recs-list {
        grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr);
    }

    .movie-details {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
}

@media (min-width: 1024px) {
    .cards-of-recs-list {
        grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr) minmax(300px, 1fr);
    }

    .header-container {
        grid-template-areas: "part-1 part-2";
        grid-template-rows: 100px;
    }

    .header {
        top: 0;
    }

    .first-part-of-header {
        grid-area: part-1;
        border-radius: 0 0 0 var(--extra-border-radius);
    }

    .second-part-of-header {
        grid-area: part-2;
        border-radius: 0 0 var(--main-border-radius) 0;
    }

    .div-nav-header {
        justify-content: flex-end;
        gap: 30px;
    }

    .div-list-of-suggested.shown {
        top: 100px;
    }

    .div-title-recomindations-list {
        top: 120px;
    }
}

