:root {
    --document-bg: #200000;
    --light-clr: #EFEFEF;
    --accent-clr: #C12E2E;
    --accent-2-clr: #612EEE;
    --accent-clr-trs: #C12E2E50;
    --accent-2-clr-trs: #612EEE50;
    --main-border-radius: 20px;
    --extra-border-radius: 30px;
    --marked-bold: bold;
    --font-size-header: clamp(18px, 1.67vw, 48px);
    --font-size-input: clamp(16px, 1.4vw, 36px);
    --font-size-titles-h2: clamp(28px, 2.2vw, 56px);
    --font-size-titles-h3: clamp(22px, 1.65vw, 42px);
    --font-size-details-page: clamp(22px, 1.7vw, 42px);
    --font-size-details-2-page: clamp(18px, 1.4vw, 32px);
    --font-size-p: clamp(16px, 1.25vw, 24px);
    --high-rate: rgb(12, 200, 12);
    --medium-rate: #E7E127;
    --low-rate: rgb(203, 36, 36);
}